<!-- =====================Contact===================== -->
<section id="Contact" class="mb-5">
    <div class="px-5 mx-auto mt-7 lg:mt-32">
        <div class="contact-section">
            <!-- Image -->
            <img alt="contact" src="/assets/Mailbox-bro.svg">
            <!-- Contact form -->
            <div class="contact-right">
                <h2 class="contact gradient-text ">Get In Touch</h2>
                <!-- Form -->
                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                    <!-- <div class="relative mb-6">
                        <input formControlName="name" type="text" placeholder="Name" required>
                    </div> -->
                    <div class="relative mb-6">
                        <input class="peer placeholder-transparent" formControlName="name" type="text" placeholder="Name" required />
                        <label for="name"
                            class="absolute left-4 -top-3.5 text-transparent rounded-md text-sm md:text-base pointer-events-none transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-3.5 peer-focus:text-sm  peer-focus:[background-image:linear-gradient(#063f7d,rgba(3,35,56,0.961))] peer-focus:text-white peer-focus:px-3 peer-focus:py-0.5 ">
                            Name
                        </label>
                    </div>
                    <div class="relative mb-6">
                        <input class="peer placeholder-transparent" formControlName="email" type="email" placeholder="Email Address" required />
                        <label for="email"
                            class="absolute left-4 -top-3.5 text-transparent rounded-md text-base transition-all pointer-events-none peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-3.5 peer-focus:text-sm  peer-focus:[background-image:linear-gradient(#063f7d,rgba(3,35,56,0.961))] peer-focus:text-white peer-focus:px-3 peer-focus:py-0.5 ">
                            Email Address
                        </label>
                    </div>
                    <div class="relative mb-6">
                        <textarea formControlName="message" placeholder="I would like to discuss..."
                            required></textarea>
                    </div>
                    <div class="contactbtn text-white">
                        <button type="submit" [disabled]="!contactForm.valid">Send Message</button>
                    </div>
                </form>

                <!-- Custom Alert -->
                @if (alertMessage) {
                <div class="custom-alert"
                    [ngClass]="{'show': showAlert, 'success': alertType === 'success', 'error': alertType === 'error'}">
                    {{ alertMessage }}
                </div>
                }


            </div>
        </div>
    </div>
</section>
<!-- Contact Section Ends -->