<div class="hero-section">
    <!-- Social Icons -->
    <div class="icons">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="#"><i class="fa-solid fa-envelope"></i></a>
    </div>
    <!-- Content -->
    <div class="hero-content">
      <div class="flex flex-col gap-3 sm:gap-5">
        <h1 class="text-xl md:text-2xl font-bold">
          Hi I'm
          <span class="gradient-text name">Muhammad Hanan</span>
        </h1>
        <h1 class="text-2xl font-bold">Flutter Developer</h1>
      </div>
      <p class="text-base py-4">
        Experienced Flutter developer specializing in cross-platform mobile
        apps,UI design,and performance optimization,app backend development
        and seemless integration.
      </p>
      <div class="flex btn cursor-pointer">
        <a href="#" class="resume-btn" href="/assets/hanan-ashraf-resume.pdf" download="hanan-resume.pdf">Download CV</a>
      </div>
    </div>
    <div class="hero-img">
      <div class="home-img">
        <svg
          class="home__blob"
          viewBox="0 0 479 467"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <mask id="mask0" mask-type="alpha">
            <path
              d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"
            />
          </mask>
          <g mask="url(#mask0)">
            <path
              d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"
            />
            <image
              class="home__blob-img"
              x="50"
              y="60"
              href="assets/m-hanan.png"
            />
          </g>
        </svg>
      </div>
    </div>
  </div>