.hero-section {
    @apply  [margin-block-start:30px] sm:[margin-block-start:80px]  flex flex-col md:flex-row justify-between items-center bg-white  p-6 md:p-8
}
/* Social Icons */
.icons{
  @apply absolute left-3 sm:left-8 transform space-y-5 flex flex-wrap flex-col 
}
.icons .fa-brands, .fa-solid {
  @apply text-[color:rgba(5,100,159,0.961)] text-2xl block
}
.icons .fa-brands:hover, .fa-solid:hover {
  @apply text-[1.8rem] cursor-pointer;
  background: -webkit-linear-gradient(#95beea, rgba(5,100,159,0.961));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Text-content */
.hero-content{
  @apply flex flex-col items-start ml-8 sm:ml-16 md:ml-24 md:w-1/2 gap-1 sm:gap-3.5
}
.name{
  @apply text-2xl sm:text-3xl lg:text-4xl font-bold
}
.btn a ,.btn button{
  @apply py-3 px-4 rounded text-xs text-white font-bold [background-image:linear-gradient(#063f7d,rgba(3,35,56,0.961))] hover:[background-image:linear-gradient(#031d38,rgba(12,92,150,0.961))]
}
/*Hero Image */
.hero-img{
  @apply flex flex-col items-center md:w-1/2 mt-12 md:mt-0
}
.home-img {
  @apply absolute md:right-[4%] lg:right-[8%] xl:right-[10%] md:top-[19%] lg:top-[17%] max-w-[460px];
}
.home__blob {
    @apply fill-[rgba(5,100,159,0.961)] min-w-64 sm:min-w-80 lg:min-w-[360px]; 
}
.home__blob-img {
  @apply w-[360px] sm:w-[330px];
}
