<section id="services" class="services">
    <h1 class="gradient-text services-title">Services</h1>
    <div class="container cards-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/andriod.svg" alt="Andriod" class="services-img">
            <h2>Andriod Development</h2>
          </div>
          <div class="flip-card-back">
            <p>Experienced Android developer adept at crafting robust and user-friendly mobile applications for diverse user needs</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/ios.svg" alt="IOS" class="services-img">
            <h2>IOS Development</h2>
          </div>
          <div class="flip-card-back">
            <p>Experienced iOS developer skilled in crafting polished and intuitive mobile applications for seamless user experiences.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/responsive.svg" alt="responsive" class="services-img">
            <h2>Responsive Design</h2>
          </div>
          <div class="flip-card-back">
            <p>Create adaptable layouts that ensure a seamless user experience across all devices and screen sizes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>