<section id="skills" class="pt-10">
    <h1 class="gradient-text services-title">Skills</h1>
    <!-- Skill cards -->
    <section class="text-gray-600">
      <div class="px-5 md:px-10 lg:px-16 py-10 mx-auto" >
        <div class="flex flex-wrap -m-4" >
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/flutter.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Flutter</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/firebase.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Firebase</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/dart.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Dart</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/api.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">API Integration</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/map.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Google Map</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/sm.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">State Management</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/payment.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Payment Methods</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/getx.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Getx</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/rd.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Responsive Designs</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/db.png ">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Local Databases</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/pub.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Pub Dev</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/github.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Git/Github</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/flutter.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Flutter UI</h2>
            </div>
          </div>
          <div class="skills-card" >
            <a class="skills-img">
              <img alt="ecommerce" src="/assets/tl.png">
            </a>
            <div class="mt-4" >
              <h2 class="skills-text">Development Project Leading</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
   </section>