<section id="testimonials" class="testimonials">
    <h1 class="gradient-text services-title pt-5">Client Voices</h1>
      <div class="container testimonial-container">
          <!-- Card 1 -->
          <div class="testimonial-card">
              <div class="upper-div">
                  <p class="testimonial-text">
                      <img src="/src/assets/left-comma.svg" alt="left-comma" class="size-5">
                      Working with Hanan has been a game-changer for our projects. Their proficiency in Flutter development has brought our visions to life with precision and flair. We’re continually impressed by their dedication to excellence and look forward to many more successful collaborations
                      <img src="/src/assets/right-comma.svg" alt="right-comma" class="size-5 absolute right-0">
  
                  </p>
              </div>
              <div class="testimonials-bg ">
                  <p class="client">Arena Habib</p>
                  <p class="text-xs">Prefered Materials, Inc</p>
              </div>
          </div>
          <!-- Card 2 -->
          <div class="testimonial-card">
            <div class="upper-div">
                <p class="testimonial-text">
                    <img src="/src/assets/left-comma.svg" alt="left-comma" class="size-5">
                    Working with Hanan has been a game-changer for our projects. Their proficiency in Flutter development has brought our visions to life with precision and flair. We’re continually impressed by their dedication to excellence and look forward to many more successful collaborations
                    <img src="/src/assets/right-comma.svg" alt="right-comma" class="size-5 absolute right-0">
  
                </p>
            </div>
            <div class="testimonials-bg ">
                <p class="client">Arena Habib</p>
                <p class="text-xs">Prefered Materials, Inc</p>
            </div>
        </div>
          <!-- Card 3 -->
          <div class="testimonial-card">
            <div class="upper-div">
                <p class="testimonial-text">
                    <img src="/src/assets/left-comma.svg" alt="left-comma" class="size-5">
                    Working with Hanan has been a game-changer for our projects. Their proficiency in Flutter development has brought our visions to life with precision and flair. We’re continually impressed by their dedication to excellence and look forward to many more successful collaborations
                    <img src="/src/assets/right-comma.svg" alt="right-comma" class="size-5 absolute right-0">
  
                </p>
            </div>
            <div class="testimonials-bg ">
                <p class="client">Arena Habib</p>
                <p class="text-xs">Prefered Materials, Inc</p>
            </div>
        </div>
          <!-- Card 4 -->
          <div class="testimonial-card">
            <div class="upper-div">
                <p class="testimonial-text">
                    <img src="/src/assets/left-comma.svg" alt="left-comma" class="size-5">
                    Working with Hanan has been a game-changer for our projects. Their proficiency in Flutter development has brought our visions to life with precision and flair. We’re continually impressed by their dedication to excellence and look forward to many more successful collaborations
                    <img src="/src/assets/right-comma.svg" alt="right-comma" class="size-5 absolute right-0">
  
                </p>
            </div>
            <div class="testimonials-bg ">
                <p class="client">Arena Habib</p>
                <p class="text-xs">Prefered Materials, Inc</p>
            </div>
        </div>
          <!-- Card 5 -->
          <div class="testimonial-card">
            <div class="upper-div">
                <p class="testimonial-text">
                    <img src="/src/assets/left-comma.svg" alt="left-comma" class="size-5">
                    Working with Hanan has been a game-changer for our projects. Their proficiency in Flutter development has brought our visions to life with precision and flair. We’re continually impressed by their dedication to excellence and look forward to many more successful collaborations
                    <img src="/src/assets/right-comma.svg" alt="right-comma" class="size-5 absolute right-0">
  
                </p>
            </div>
            <div class="testimonials-bg ">
                <p class="client">Arena Habib</p>
                <p class="text-xs">Prefered Materials, Inc</p>
            </div>
        </div>
      </div>
  
  
  
   </section>
