<section class="relative">
<!--jump to top button-->
<div id="mybutton">
    <button class="feedback" (click)="onOptionSelected('header')"><i class='fas fa-level-up-alt'></i></button>
</div>
<!-- Header -->
<div id="header">
    <app-header></app-header>
</div>

<!-- Hero Section -->
<div id="home" data-aos="fade-up">
    <app-hero-section></app-hero-section>
</div>

<!-- About Section -->
<div id="about" data-aos="slide-left">
    <app-about></app-about>
</div>

<!-- Skills Section -->
<div id="skills" data-aos="fade-in">
    <app-skills></app-skills>
</div>

<!--  Services Section -->
<div id="services" data-aos="zoom-in">
    <app-services></app-services>
</div>

<!-- Projects Section -->
<div id="projects" data-aos="fade">
    <app-projects></app-projects>
</div>

<!--Contact Section -->
<div id="contact" data-aos="fade-up">
    <app-contact></app-contact>
</div>

<!-- Footer -->
<div class="copyright">
    <p>© 2023 sidra. All Right Reserved.</p>
</div>
</section>